.statList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.item {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  padding: 5px 0;
}
.label {
  margin-bottom: 15px;
  align-self: center;
  justify-self: center;
  color: rgb(247, 241, 241);
}
.percentage {
  font-size: 18px;
  font-weight: 600;
  align-self: center;
  justify-self: center;
  color: rgb(247, 241, 241);
}
