.profile {
  background-color: #fff;
  width: 350px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.avatar {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.description {
  padding: 30px;
  text-align: center;
}
.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.tag {
  color: #707070;
  margin-bottom: 10px;
}
.location {
  color: #707070;
  margin-bottom: 10px;
}
.stats {
  border-top: 1px solid #bbb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.stats li {
  background-color: #e7e3e3;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.stats li:not(:last-child):not(:first-child) {
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.label {
  color: #707070;
  align-content: center;
  align-self: center;
  justify-self: center;
  margin-bottom: 5px;
}
.quantity {
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  align-self: center;
  justify-self: center;
}
